* {
    margin: 0;
    padding: 0;
}


/* NavBar */
.navbar {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: sticky;
    top: 0;
}

.navbar2 {

    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;

}

.opala {
    padding: 200px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.opalafto {
 height: 30%;


}



.logo {
    height: 40px;
}

/* Header */
.header {

display: flex;
flex-direction: row;
}

.conteudo-header {
    width: calc(50% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    background-color: gray;

}

.conteudo-texto-header {
    background-color: azure;
}




.imagem-header {
    width: 50%;
}

.secao1{
    padding: 20px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}

.card1{
    background-color: aquamarine;
   width: 27%;
   height: 27%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 20px;
}

.card2{
    background-color: aquamarine;
   width: 27%;
   height: 27%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 20px;
}

.card3{
    background-color: aquamarine;
   width: 27%;
   height: 27%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 20px; 
}